.header {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.page-container {
  display: flex;
  justify-content: center;
}

.game-container {
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.letter-display-container {
  margin-top: 100px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single-letter-display {
  font-size: 22px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: rgb(233, 233, 233);
  margin: 4px;
  border-radius: 20%;
  font-weight: 600;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

}

.board {
  display: flex;
  flex-wrap: wrap;

  height: 500px;
  width: 550px;
}

.square {
  width: 98px;
  height: 98px;
  border: solid;
  border-width: 1px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  margin: 4px;
}


.correct-square {
  background-color: green;
}



.green-background {
  background-color: rgb(102, 178, 103);
  color: white;
  border-color: rgb(102, 178, 103);
}

.yellow-background {
  background-color: rgb(212, 189, 40);
  color: white;
  border-color: rgb(212, 189, 40);;
}

.grey-background {
  background-color: rgb(83, 83, 83);
  color: white;
  border-color:rgb(83, 83, 83);
}